[user]
    name = qdzhang
    email = qdzhangcn@gmail.com
    signingkey = 2EA64EA4323ED6CD
[core]
    ; editor = 'vim'
    editor = "emacs -Q -nw --load \"~/.nw_emacs\""
    pager = delta
[diff]
    ; tool = vimdiff
    tool = ediff
[difftool "ediff"]
    cmd = "~/.local/bin/ediff \"$LOCAL\" \"$REMOTE\""
[alias]
    d = difftool
    ds = diff --staged
    cs = commit -S
[difftool]
    prompt = false
[interactive]
    diffFilter = delta --color-only
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}│"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

; [url "https://github.com.cnpmjs.org"]
;   insteadof = https://github.com
[commit]
    gpgsign = true
