[user]
    name = qdzhang
    email = qdzhangcn@gmail.com
    signingkey = 2EA64EA4323ED6CD
[core]
    editor = 'vim'
    pager = delta
[diff]
    tool = vimdiff
[alias]
    d = difftool
    ds = diff --staged
    cs = commit -S
[difftool]
    prompt = false
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

; [url "https://github.com.cnpmjs.org"]
;   insteadof = https://github.com
[commit]
    gpgsign = true
