[user]
	name = qidongz
	email = qdzhangcn@gmail.com
[core]
	editor = 'vim'
    pager = delta
[diff]
	tool = vimdiff
[alias]
	d = difftool
[difftool]
	prompt = false
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
